.intro-content {
  width: 70%;
  margin: 1rem auto;
}

.pitch-card {
  width: 30%;
}

.card-shadow {
  -webkit-box-shadow: 5px 5px 15px -5px #000000;
  box-shadow: 5px 5px 15px -5px #000000;
}

.rounded {
  border-radius: 0.3rem !important;
}

.pinch {
  width: 70%;
  margin: auto;
}

.pinch-2 {
  width: 50%;
  margin: auto;
}

.outro-container,
.news-container {
  width: 50%;
}

.outro-container {
  background-image: url("/src/assets/pexels-tyler-lastovich-1275929.jpg");
  background-size: cover;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.view-feed-btn {
  float: right;
}

.mobile-player {
  display: flex !important;
}

.this-btn {
  float: right;
}

.navbar-h-item:hover {
  background-color: #ff3860 !important;
  color: #000000 !important;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: scale(1.025);
}

iframe {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

@media screen and (max-width: 600px) {
  .intro-content {
    text-align: center !important;
  }

  .reframe {
    margin: auto !important;
  }

  .intro-container {
    flex-wrap: wrap !important;
  }

  iframe {
    height: 210px !important;
    width: 368px !important;
    margin: auto !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.3rem !important;
  }

  .pitch-container,
  .resources-container,
  .services-container,
  .contact-container {
    flex-wrap: wrap !important;
    padding: 1rem !important;
  }

  .pinch {
    width: 85% !important;
    margin: auto !important;
  }

  .pinch-2 {
    width: 100% !important;
  }

  .outro-container,
  .news-container {
    width: 100% !important;
    margin: auto !important;
  }

  .outro-container {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.3rem !important;
  }

  .view-news-link {
    text-align: center !important;
  }

  .resized-btn {
    float: initial !important;
    display: flex !important;
    justify-content: center !important;
  }

  .contact-container {
    text-align: center !important;
  }

  .card {
    text-align: center !important;
  }

  .p-bot {
    padding-bottom: 2rem;
  }
}
