.intro-content {
  width: 70%;
  margin: 1rem auto;
  overflow-y: auto !important;
  height: 300px !important;
}

.pitch-card {
  width: 30%;
}

.card-shadow {
  -webkit-box-shadow: 5px 5px 15px -5px #000000 !important;
  box-shadow: 5px 5px 15px -5px #000000 !important;
}

.rounded {
  border-radius: 0.3rem !important;
}

.pinch {
  width: 70%;
  margin: auto;
}

.pinch-2 {
  width: 50%;
  margin: auto;
}

.outro-container,
.news-container {
  width: 50%;
}

.outro-container {
  background-image: url("/src/assets/pexels-tyler-lastovich-1275929.jpg");
  background-size: cover;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.view-feed-btn {
  float: right;
}

.mobile-player {
  display: flex !important;
}

.this-btn {
  float: right;
}

iframe,
.img-borders {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.img-borders-reverse {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.img-dimensions {
  width: 1040px !important;
  height: 360px !important;
}

.btn-fluid-2 {
  width: 100% !important;
  margin: auto !important;
}

.industry-card {
  width: 30% !important;
}

.card-hover {
  transition-duration: 150ms;
  transition-timing-function: linear;
}

.card-hover:hover {
  transform: scale(1.01275);
}

.is-fullheight {
  height: 100% !important;
}

.benefits-container {
  width: 20%;
}

@media screen and (max-width: 600px) {
  .intro-content {
    text-align: center !important;
    overflow-y: visible !important;
    height: auto !important;
  }

  .reframe {
    margin: auto !important;
  }

  .reframe-2 {
    padding: 0 !important;
  }

  .intro-container {
    flex-wrap: wrap !important;
  }

  iframe {
    height: 210px !important;
    width: 368px !important;
    margin: auto !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.3rem !important;
  }

  .img-borders {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.3rem !important;
  }

  .img-borders-reverse {
    border-top-right-radius: 0.3rem !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: 0.3rem !important;
  }

  .pitch-container,
  .resources-container,
  .services-container,
  .contact-container {
    flex-wrap: wrap !important;
    padding: 1rem !important;
  }

  .pinch {
    width: 85% !important;
    margin: auto !important;
  }

  .pinch-2 {
    width: 100% !important;
  }

  .outro-container,
  .news-container {
    width: 100% !important;
    margin: auto !important;
  }

  .outro-container {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.3rem !important;
  }

  .view-news-link {
    text-align: center !important;
  }

  .resized-btn {
    float: initial !important;
    display: flex !important;
    justify-content: center !important;
  }

  .contact-container {
    text-align: center !important;
  }

  .card {
    text-align: center !important;
  }

  .btn-fluid {
    width: 100% !important;
    margin: auto !important;
  }

  .to-hide {
    display: none !important;
  }

  .contact-card,
  .is-8 {
    margin: auto !important;
    width: 100% !important;
  }

  .contact-card-btns {
    flex-wrap: wrap !important;
  }

  form .columns,
  form .columns .column {
    margin: 0.5rem 0 !important;
  }

  .img-dimensions {
    width: auto !important;
    height: auto !important;
  }

  .industry-card {
    width: 100% !important;
  }

  .benefits-container {
    width: 100% !important;
  }
}
