.navbar-h-item:hover {
  background-color: rgba(200, 30, 30, 0.950) !important;
  color: white !important;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  transform: scale(1.025);
}

@media screen and (max-width: 600px) {
  footer {
    text-align: left !important;
  }

  .content {
    justify-content: center !important;
    text-align: center !important;
  }

  .citation-caption,
  .credits-caption {
    margin-bottom: 1rem !important;
  }
}
