@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Nunito&family=Oxygen&family=Quicksand&display=swap");

/* 

Fonts:

font-family: 'Manrope', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Quicksand', sans-serif;

*/

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Oxygen", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oxygen", sans-serif !important;
  margin: 1rem 0 !important;
}

p {
  font-size: medium;
}

h1 {
  font-size: xx-large !important;
}

h2 {
  font-size: x-large !important;
}

h3 {
  font-size: large !important;
}

h4 {
  font-size: larger !important;
}

h5 {
  font-size: medium !important;
}

h6 {
  font-size: small !important;
}
