@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Nunito&family=Oxygen&family=Quicksand&display=swap");

@import "~react-image-gallery/styles/css/image-gallery.css";

/* 

Fonts:

font-family: 'Manrope', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Quicksand', sans-serif;

*/

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Oxygen", sans-serif !important;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: initial !important;
}

.image-gallery-slide .image-gallery-description {
  background: rgba(0, 0, 0, 0.664);
  bottom: 50px;
  color: white;
  left: 20%;
  line-height: 1;
  padding: 10px;
  position: absolute;
  white-space: normal;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .image-gallery-slide .image-gallery-description {
    bottom: 10px !important;
    left: 23.5% !important;
  }
}
